@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap");

body {
  font-family: "Mulish", sans-serif;
  background-image: url("/main-background.png");
  background-repeat: no-repeat;
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

button{
  cursor: pointer;
  border: none;
  background: transparent;
}

button:active{
  transform: scale(0.5);
  transition: 1s;
}

a{
  text-decoration: none;
}

input{
  outline: none;
  border: none;
}